.panel
    resize: both
    overflow: auto
    position: absolute
    width: auto
    max-width: 50%
    height: auto
    max-height: 100%
    background-color: rgba(120, 120, 120, 0.7)

.panel .handle
    width: 100%

.panel .panel-inner
    background-color: rgba(90, 60, 120, 0.7)
