.panel
    resize: both
    overflow: scroll
    position: absolute
    background-color: rgba(120, 120, 120, 0.7)

.panel .handle
    width: 100%

.panel .panel-inner
    background-color: rgba(90, 60, 120, 0.7)
    padding 1px 2px 2px 1px
