.icon
    width: 64px
    height: 64px
    display: inline-block
    overflow-x: show
    overflow-y: show
    margin: 2px

.icon.selected
    border: 1px dotted black;

.icon span.filename
    overflow-x: hide
    overflow-y: hide
