.full-width
    width: 100%

.full-height
    height: 100%

.half-height
    height: 50%

.file-browser
    overflow-y: auto
    background-color: rgba(90, 60, 120, 0.7)
    height: 100%
    padding-left: 5px

.preview
    background-color: rgba(120, 120, 120, 0.7)
    height: 100%

.panel
    background-color: rgba(120, 120, 120, 0.7)

.panel .handle
    width: 100%

.file-browser div.icon
    width: 40px
    height: 40px
    display: inline-block
    overflow-x: hidden
    margin: 2px

.file-browser div.icon.selected
    border: 1px dotted black;
