body
    font-size: 30px

.file-browser
    background-color: rgba(90, 60, 120, 0.7)
    height: 100%

.preview
    background-color: rgba(120, 120, 120, 0.7)
    height: 100%

.history
    background-color: rgba(60, 120, 60, 0.7)
    height: 100%
